$text-color: #2A2F32;
$text-primary: #221C26;
$text-secondary: #727F87;
$text-tertiary: #959595;
$petroleum-text: #7E7287;
$color-primary: #B338FF;
$color-secondary: #2193FD;
$color-tertiary: #6B6B6B;
$bg-primary: #F8F8F8;
$shadow-color: #b338ff1a;
$bg-secondary: #6B6B6B;
$btn-bg-color:#F1DAFF;
$bar-color: #D9D9D9;
$border-color: #787878;
